.App {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.belayme-custom-box-center {
  display:flex;
  justify-content: center;
}

.app-title {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

h2 {
  padding-top: 2rem;
  /* padding-bottom: 1rem; */
}

h4 {
  padding: 1.5rem;
}

h6 {
  padding-bottom: 2rem;
}

p {
  margin-bottom: 0;
}

.hilly-image {
  background-image: url("hilly-background-vertical.svg");
}

@media only screen and (min-width: 541px) {
  .hilly-image {
    background-image: url("hilly-background-horizontal.svg");
  }
}

.background-settings {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  /* width: 100vw; */
  /* height: 100vh; */
}

/* For the NavBar */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-avatar-component {
  color: #8db7aa;
  font-size: 9rem;
  max-height: 9rem;
  padding-top: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
