.App {
  text-align: center;
  /* margin-top: 2rem; */
}

.app-title {
  padding-top: 10rem;
  padding-bottom: 4rem;
  color: #e0e0e0;
}

h2 {
  padding-top: 2rem;
  /* padding-bottom: 1rem; */
}

h6 {
  padding-bottom: 2rem;
}

p {
  margin-bottom: 0;
}

.home-background {
  background-image: url("belayme_background_v2.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
};

/* For the NavBar, not currently in use */
/* li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
